body{
	margin: 0;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sansserif  ;
	font-size: 18px;
	color: #2D3748;
}

/*Header position*/
.header{
    flex: 1 0 50%;
    text-align: center;
    padding: 15px;
    background: #63B3ED;
    color: #FFFFFF;
    grid-column-start: 1;
    grid-column-end: -1;
}

h1{
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 36px;
}

/*HEADER PICTURE*/
.selfie{
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

.quote{
	line-height: 0;
}

/*Article heading*/
h2{
	font-size: 32px;
	color:#48BB78 ;
}

/*Date and Author of the blog post*/
.date-author{
	color: #718096;
	margin-top: -2%;
}

.article1-image{
	width: 250px;
	height: 250px;
	float: right;
}

.article2-image{
	width: 250px;
	height: 250px;
	float: left;
}

/*About heading*/
.about-heading{
	color: #000000;
	font-family: Georgia,'Times New Roman', Times, serif;
}

.about{
	font-family: Georgia,'Times New Roman', Times, serif;
	background-color: #E2E8F0;
	padding: 15px;
	width: 80%;

}

/*Social media and archives headings*/
.social-archive{
	color: #48BB78;
	font-family: Georgia,'Times New Roman', Times, serif;
	padding-left: 20px;
}

/*Social media and archive link*/
a{
	color: #4299E1;
	text-decoration: none;
}

footer{
	background-color: #2C5282;
	color:  #FFFFFF;
	grid-column-start: 1;
    grid-column-end: -1;
    padding-left: 70px;
}

.container{
	display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 60px;
}

.main{
	padding-top: 40px;
	padding-left: 50px;
}

.sidebar{
	padding-top: 60px;
}

.socials{
	margin-top: 60px;
}

.archives{
	margin-top: 80px;
}